* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: black;
}

/*The Navigation Bar*/
nav {
    display: flex;
    align-items: center;
    background-color: cadetblue;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    font-family: tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 24px;
}

a:hover {
    background-color: darkcyan;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}

/*The Menu*/
h1 {
    color: cadetblue;
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
}

.category-header {
    color: white;
    font-family: 'Arial', sans-serif;
    background-color: cadetblue;
    font-size: 36px;
    text-align: left;
    margin-top: 40px;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-width: 10px;
    border-color: white;
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: left;
    background-color: rgb(158, 177, 196);
}

tr {
    border: 3px solid white;
}

th {
    font-size: 30px;
}

td {
    padding: 8px;
    font-size: 24px;
}

tr:hover {
    background-color: lightgray;
}