* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: black;
}

/*The Navigation Bar*/
nav {
    display: flex;
    align-items: center;
    background-color: cadetblue;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    font-family: tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 22px;
}

a:hover {
    background-color: darkcyan;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}

/*The Hero Image*/
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jfif);
    height: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text h1 {
    text-align: center;
    padding:0%;
    margin: 0%;
    font-size: 100px;
    font-family: 'Arial', sans-serif;
    color:cadetblue
}
.hero-text p {
    text-align: center;
    padding: 0%;
    margin: 0%;
    font-size: 75px;
    font-family: 'Arial', sans-serif;
    color: white;
}

/*Main content*/
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 24px;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkcyan;
}

section p {
    text-align: center;
    padding: 0px;
    margin: 20px;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: white;
}

h2 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    color: cadetblue;
}

footer {
    display: flex;
    align-items: center;
    color: white;
    padding-top: 50px;
    margin: 0px;
    width: 100%;
    font-family: tahoma, sans-serif;
    font-size: 18px;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 18px;
}